:root {
  --font-family: "Vazirmatn", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight: 400;
  --font-optical-sizing: auto;
  --font-style: normal;
  --line-height: 1.5;

  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);

  line-height: var(--line-height);

  background-color: var(--background-color);
  color: var(--color);
}

body {
  height: 100%;
}
