@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: -apple-system, BlinkMacSystemFont,"Vazirmatn", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}

@layer components {
  .fieldset {
    @apply rounded-xl border border-border/70 bg-linear-to-b from-neutral-50/90 to-white p-4 ring-1 ring-black/5 dark:from-neutral-900/80 dark:to-neutral-900 dark:ring-white/10;
  }
  .fieldset__legend {
    @apply text-lg font-semibold px-1;
  }
  .fieldset__field_group {
    @apply gap-3 md:grid md:grid-cols-2;
  }
  .fieldset__actions {
    @apply flex justify-end gap-2 pt-2;
  }
}

@layer utilities {
  .text-clamp {
   font-size: clamp(2rem, 4.0vw, 10rem);
  }
 
}


